<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Website for Convoluta">
        <meta name="keywords" content="truth,news,convoluta,find,detect,machine,learning,ml,ai,artificial,intelligence">
        <meta name="author" content="Kevin Feng">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/index.css">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
